@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

/* Header */
header {
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 10px;
}
.logo {
  background-color: transparent;
  height: 80px;
}

.navbar .logo img {
  background-color: transparent;
}

.nav-items {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}

.nav-items li a {
  font-size: 17px;
  font-weight: 500;
  color: #232323;
}
.nav-items li a:hover {
  border-bottom: 2px solid rgba(49, 39, 131, 1);
  padding-bottom: 5px;
  transition: 300ms all;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: flex;
  width: 200px;
  background: #fff;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  gap: 10px;
  padding: 10px 20px;
  position: absolute;
  margin-top: 55px;
  top: 0;
  left: -90%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown.open .dropdown-menu {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}
.dropdown-menu li:hover {
  margin-left: 5px;
  color: red;
}

.dropdown-menu li a {
  font-size: 15px;
  color: black;
}

.icon {
  display: none;
  align-items: center;
  justify-content: center;
}
.icon .fa {
  padding: 15px;
}

@media screen and (max-width: 992px) {
  .nav-items {
    display: none;
  }
  .icon {
    display: flex;
  }
}

/* Slider */

.swiper {
  width: 100%;
  height: 670px;
}

.swiper-slide {
  width: 100%;
}

.merco {
  object-fit: cover;
  object-position: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .swiper {
    width: 100%;
    height: 100%; /* Yüksekliği tam olarak ekrana göre ayarla */
  }

  .swiper-slide {
    width: 100%;
    height: 100vh;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 232px;
    object-fit: cover; /* Resmi alanı tamamen kaplayacak şekilde kırp */
    object-position: center; /* Resmin ortasını göster */
  }
}

/* Card Section */

.card-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.card {
  max-width: 300px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.card img {
  width: 100px;
  height: 72px;
}
.card h1 {
  color: #444;
  font-size: 14px;
  font-weight: 700;
}
.card p {
  color: #4e5861;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .card-section {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }
}

/* Bölgeler */

.area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 500px;
  padding: 20px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(225, 232, 240, 1) 30%,
    rgba(225, 232, 240, 1) 70%,
    rgba(255, 255, 255, 1) 100%
  );
}

.area h1 {
  font-size: 30px;
  font-weight: bold;
}
.area img {
  display: block;
}

@media screen and (max-width: 992px) {
  .area {
    height: auto;
  }
  .area img {
    object-fit: contain;
    object-position: center;
    width: 100%;
  }
}

/* Haberler */
.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding: 50px;
  gap: 10px;
}

.news-card-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.news-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 370px;
  padding-bottom: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}
.news-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.news-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}
.news h1 {
  margin-bottom: 25px;
}

.news-card-body p {
  font-size: 14px;
  font-weight: normal;
  color: #58595b;
  line-height: 22px;
}

.news-btn {
  width: 100%;
  background: #f5932d;
  text-align: center;
  padding: 10px;
  color: white;
}

@media screen and (max-width: 992px) {
  .news-card-list {
    flex-direction: column;
    gap: 25px;
  }
}
